<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Posts</a>
  </span>
  <span>
    <a routerLink="card">Cards</a>
  </span>
  <span>
    <a routerLink="bill">Bills</a>
  </span>
  <span>
    <a routerLink="account">Accounts</a>
  </span>
  <span>
    <a routerLink="budgets">Budgets</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
  </ul>
  <ul>
    <li>
      <a mat-button routerLink="card/create" routerLinkActive="mat-accent">New Card</a>
    </li>
  </ul>
  <ul>
    <li>
      <a mat-button routerLink="bill/create" routerLinkActive="mat-accent">New Bill</a>
    </li>
  </ul>
  <ul>
    <li>
      <a mat-button routerLink="account/create" routerLinkActive="mat-accent">New Account</a>
    </li>
  </ul>
  <ul>
    <li>
      <a mat-button routerLink="budgets/create" routerLinkActive="mat-accent">New Budget</a>
    </li>
  </ul>
</mat-toolbar>
