:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}


.fincard {
  margin: 3px;
  display: inline-block;
}

.fincard__image {
  max-width: 400px;
  max-height: 252px;
}

.fincard__description {
  width: 400px;
}

.fincard__info {
  list-style: none;
  text-align: left;
}

.fincard__display {
  display: grid;
  grid-gap: 1em;
}





@media (min-aspect-ratio: 1/5) {
  .fincard__display {
    grid-template-columns: 1fr;
  }
}

@media (min-aspect-ratio: 3/5) {
  .fincard__display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-aspect-ratio: 5/5) {
  .fincard__display {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-aspect-ratio: 8/5) {
  .fincard__display {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
