:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}


.fincard {
  margin: 3px;
  display: inline-block;
}

.fincard__image {
  width: 400px;
  height: 252px;
}

.fincard__description {
  width: 400px;
}

.fincard__info {
  list-style: none;
  text-align: left;
}
