:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

.info-text {
  text-align: center;
}

.bill-image {
  float: left;
  width: 20%;
  margin-right: 1em;
}

.bill-image img {
  width: 10%;
}

mat-card {
  margin: 1em 0 1em 0;
}
